<div class="container-fluid" style="text-align:center">
	<div style="color: blue;">
		<h1>{{title}}</h1>
		<h3>{{description}}</h3>
	</div>
 

 
	<h2>User Health Information</h2>
	<div class="col-md-3">
    <pre *ngFor="let item of items | async">{{item}}</pre>
  </div>
    <form (ngSubmit) = "onSubmit(logoutForm)" #logoutForm="ngForm">
      <button type="submit"  class="btn-block btn-primary"> LOG OUT </button>
    </form>
</div>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet'/>
</head>
<body>
    <div class="container">
<div class="row">
<div class="col-sm-4">
	<!-- Category -->
	<div class="single category">
		<h3 class="side-title">Category</h3>
		<ul class="list-unstyled">
			<li><a href="" title="">Business <span class="pull-right">13</span></a></li>
			<li><a href="" title="">Technology <span class="pull-right">13</span></a></li>
			<li><a href="" title="">Web <span class="pull-right">13</span></a></li>
			<li><a href="" title="">Ecommerce <span class="pull-right">13</span></a></li>
			<li><a href="" title="">Wordpress <span class="pull-right">13</span></a></li>
			<li><a href="" title="">Android <span class="pull-right">13</span></a></li>
			<li><a href="" title="">IOS <span class="pull-right">13</span></a></li>
			<li><a href="" title="">Windows <span class="pull-right">13</span></a></li>
		</ul>
   </div>
</div> 
</div>
</div>
</body>
</html>