
<script src="https://code.highcharts.com/modules/boost.js"></script>

<div class="container-fluid" style="text-align:center">
	<div style="color: blue;">
		<h1>{{title}}</h1>
		<h3>{{description}}</h3>
	</div>
 

 
	<h2>User Health Information</h2>
	<div class="col-md-10">
		
		<table class="table table-bordered"align="center">
			<thead>
				<tr>
					<th>Name</th>
					<th>Age</th>
					<th>Heart Rate</th>
					<th>High Pressure</th>
					<th>Low Pressure</th>
					<th>Mean Pressure</th>
					<th>Pulse Rate</th>
					<th>Resp Rate</th>
					<th>SPO2</th>
					<th>Temperature</th>
				</tr>
			 </thead>
			 <tbody> 
				<tr>
						 <td>{{boltesi[6]}}</td>
							<td>{{boltesi[0]}}</td>
							<td>{{boltesi[2]}}</td>
							<td>{{boltesi[3]}}</td>
							<td>{{boltesi[4]}}</td>
							<td>{{boltesi[5]}}</td>
							<td>{{boltesi[7]}}</td>
							<td>{{boltesi[9]}}</td>
							<td>{{boltesi[10]}}</td>
							<td>{{boltesi[11]}}</td>
				</tr>
			</tbody>  
			</table>

			<div [chart]="chart"></div>
			<div [chart]="chart2"></div>

			<form (ngSubmit) = "onSubmit(logoutForm)" #logoutForm="ngForm">
				<button type="submit"  class="btn btn-primary btn-lg"> LOG OUT </button>
			</form>
  </div>
  
</div>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
