<div class="container-fluid" style="text-align:center">
	<div style="color: blue;">
		<h1>{{title}}</h1>
		<h3>{{description}}</h3>
	</div>
 

 
	<h2>User Health Information</h2>
	<div class="col-md-3">
    <pre *ngFor="let item of items | async">{{item}}</pre>
  </div>
  <form (ngSubmit) = "onSubmit(logoutForm)" #logoutForm="ngForm">
    <button type="submit"  class="btn btn-primary btn-lg"> LOG OUT </button>
  </form>
</div>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
