<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <img src="https://scontent.fdac3-1.fna.fbcdn.net/v/t1.0-9/30706126_10214858853132257_7432999307311054848_n.jpg?_nc_cat=0&_nc_eui2=v1%3AAeGCXEJSzEK51kPem7Doj_9ZvK1Xi3yVDed5DCgB8YBVm27s9qwg_mDriDaNRSupnigVW6KSDmITy6W9OXHR1exqiYKHMPjP5_3xl6hlxX7Xpg&oh=af9316106c9c99405876bed8d07cc41e&oe=5B278311" style="width: 140px" height="60px">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="">Home &nbsp;<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup" > Sign Up &nbsp;</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/login" > Login &nbsp;</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/doctorlogin" > Doctor Login &nbsp;</a>
          </li>
          
        
      </ul>
      
    </div>
  </nav>


<div class="container-fluid">

  <router-outlet></router-outlet>



</div>