<div class="container-fluid" style="text-align:center">
	<div style="color: blue;">
		<h1>{{title}}</h1>
		<h3>{{description}}</h3>
	</div>
 

 
	<h2>All Patient Health Information</h2>
	<div class="col-md-10">
    <pre *ngFor="let item of items | async">
      <div class ="col-md-3">
          <table class="table table-bordered"align="center">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Age</th>
                  <th>Heart Rate</th>
                  <th>High Pressure</th>
                  <th>Low Pressure</th>
                  <th>Mean Pressure</th>
                  <th>Pulse Rate</th>
                  <th>Resp Rate</th>
                  <th>SPO2</th>
                  <th>Temperature</th>
                </tr>
               </thead>
               <tbody> 
                <tr>
                     <td>{{item.name}}</td>
                      <td>{{item.age}}</td>
                      <td>{{item.heartRate}}</td>
                      <td>{{item.highPressure}}</td>
                      <td>{{item.lowPressure}}</td>
                      <td>{{item.meanPressure}}</td>
                      <td>{{item.pulseRate}}</td>
                      <td>{{item.restRate}}</td>
                      <td>{{item.spO2}}</td>
                      <td>{{item.temperature}}</td>
                </tr>
              </tbody>  
              </table>
        
      </div>
    </pre>
  </div>
    <form (ngSubmit) = "onSubmit(logoutForm)" #logoutForm="ngForm">
      <button type="submit"  class="btn btn-primary btn-lg"> LOG OUT </button>
    </form>
</div>

