
/*Font-awesome integration*/
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/*Google font integration*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url(https://fonts.googleapis.com/css?family=Raleway:400,900,700,600,500,300,200,100,800);

body {
	height: 1000px
}
.ha-bg-parallax {
	background: url(https://go.thoughtspot.com/rs/816-MBH-536/images/img-hero-wb-healthcare-analytics-1.png) 50% -0 no-repeat fixed;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 650px;
	margin: 0 auto;
	width: 100%;
	display: table;
	vertical-align: middle;
	position: relative;
}
.ha-parallax-body {
	vertical-align: middle;
	background: rgba(0,0,0,0.45);
	text-align: center;
	color: #FFFFFF;
	min-height: 650px;
}
.vertical .carousel-inner {
	height: 100%;
}
.carousel.vertical .item {
	-webkit-transition: 0.6s ease-in-out top;
	-moz-transition: 0.6s ease-in-out top;
	-ms-transition: 0.6s ease-in-out top;
	-o-transition: 0.6s ease-in-out top;
	transition: 0.6s ease-in-out top;
}
.carousel.vertical .active {
	top: 0;
}
.carousel.vertical .next {
	top: 100%;
}
.carousel.vertical .prev {
	top: -100%;
}
.carousel.vertical .next.left, .carousel.vertical .prev.right {
	top: 0;
}
.carousel.vertical .active.left {
	top: -100%;
}
.carousel.vertical .active.right {
	top: 100%;
}
.carousel.vertical .item {
	left: 0;
}
.carousel-indicators {
	position: absolute;
	bottom: 10px;
	left: unset;
	right: 2%;
	z-index: 15;
	width: 1%;
	padding-left: 0;
	margin-left: -30%;
	text-align: right;
	list-style: none;
	top: 30%;
}
#carousel-example-generic {
	top: 200px;
}
.carousel-indicators li {
	float: none
}
#carousel-example-generic h3 {
	font: normal 50px poppinsregular;
	color: #FFFFFF;
	margin: 0;
	text-shadow: 0 0 10px #666;
}
#carousel-example-generic h1 {
	font: normal 80px/61px poppinssemibold;
	color: #FFFFFF;
	margin: 0;
	text-shadow: 0 0 10px #666;
}



h2 {
    color: #4C4C4C;
    word-spacing: 5px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom:30px;
    font-family: 'Raleway', sans-serif;
}

.ion-minus{
    padding:0px 10px;
}

.team{
	background-color:#f6f6f6;
	padding:60px 0px;
    font-family: 'Raleway', sans-serif;
}

.team h4 {
    margin-top: 20px;
    color: #5db4c0;
}

.team .fa{
    color: #5db4c0;
    font-size: 18px;
    margin-top: 10px;
    padding: 3px;
}

#contact{
    background-color:#f1f1f1;
    font-family: 'Roboto', sans-serif;
}

#contact .well{
    margin-top:30px;
    border-radius:0;
}

#contact .form-control{
    border-radius: 0;
    border:2px solid #1e1e1e;
}

#contact button{
    border-radius:0;
    border:2px solid #1e1e1e;
}

#contact .row{
    margin-bottom:30px;
}

@media (max-width: 768px) { 
    #contact iframe {
        margin-bottom: 15px;
    }
    
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}


/*
 * 1. core styles
 */

 .teamy{
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.teamy__layout{
    position: relative;
}

.teamy__preview{
    position: relative;
    overflow: hidden;
}

.teamy__avatar{
    display: block;
    max-width: 100%;
    position: relative;
    z-index: 1;
}

.teamy__preview:before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
}

.teamy__back{
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    opacity: 0;
    will-change: opacity;

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.teamy:hover .teamy__back{
  opacity: 1;
  height: 100%;
  transition: opacity .4s cubic-bezier(0.71, 0.05, 0.29, 0.9) .2s;
}

.teamy__name{
    margin-top: 0;
    margin-bottom: 0;
}

.teamy__post{
    display: block;
}

/*
 * 2. visual styles
 */

/* common styles for visual styles */

 .teamy__back{
     padding-left: 10px;
     padding-right: 10px;
     text-align: center;
 }

.teamy__content{
     padding: 20px;
}

.teamy__name{
    font-size: 1.3em;
}

.teamy__post{
    margin-top: .5em;
    font-size: .8em;
    text-transform: uppercase;
}

/* style 1 */

.teamy_style1{
    text-align: center;
}

/* style 2 */

.teamy_style2 .teamy__content{
    width: 100%;
    box-sizing: border-box;

    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 4;
}

.teamy_style2 .teamy__name{
    font-weight: 400;
}

/* style 2 */

.teamy_style3 .teamy__name{
    font-size: 2em;
}

/*
 * 3. masks
 */

/* mask circle */

.teamy_mask-circle .teamy__preview:before{
    width: 0;
    height: 0;
    padding: 25%;
    border-radius: 50%;

    transition: transform .3s ease, opacity .3s ease-out;
    will-change: opacity, transform;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
}

.teamy_mask-circle:hover .teamy__preview:before{
    opacity: 1;
    transform: translate(-50%, -50%) scale(4);
    transition-duration: .6s;
}

/* mask triangle */

.teamy_mask-triangle .teamy__preview:before{
    width: 100%;
    height: 100%;
    opacity: 0;

    -webkit-clip-path: polygon(50% 10%, 15% 90%, 85% 90%);
    clip-path: polygon(50% 10%, 15% 90%, 85% 90%);

    transition: transform, opacity;
    transition-duration: .2s, .4s;
    transition-delay: .4s, 0s;
    transition-timing-function: ease-out;

    will-change: transform, opacity;
    transform: translate(-50%, -50%) scale(1);
}

.teamy_mask-triangle:hover .teamy__preview:before{
    opacity: 1;
    transform: translate(-50%, -50%) scale(5);
    transition-delay: .1s, 0s;
    transition-duration: .4s;
}

/*
 * 4. animations for preview
 */

/* zoom */

.teamy_zoom-photo .teamy__avatar{
    transition: transform .4s cubic-bezier(0.71, 0.05, 0.29, 0.9);
    will-change: transform;
    transform: scale(1);
}

.teamy_zoom-photo:hover .teamy__avatar{
    transform: scale(1.2);
}

/* zoom and rotate */

.teamy_zoom-rotate-photo .teamy__avatar{
    transition: transform .4s cubic-bezier(0.71, 0.05, 0.29, 0.9);
    will-change: transform;
    transform: scale(1) rotate(0);
}

.teamy_zoom-rotate-photo:hover .teamy__avatar{
    transform: scale(1.2) rotate(5deg);
}

/* zoom and slide */

.teamy_zoom-slide-photo .teamy__avatar{
    transition: transform .4s cubic-bezier(0.71, 0.05, 0.29, 0.9);
    will-change: transform;
    transform: scale(1) translate(0, 0);
}

.teamy_zoom-slide-photo:hover .teamy__avatar{
    transform: scale(1.2) translate(4%, 4%);
}

/*
 * 5. default skin
 */

.teamy__preview:before{
    background-color: rgba(72, 27, 174, .7);
}

.teamy_style2, .teamy_style3{
    color: #fff;
}

.teamy_style2 .teamy__content{
    background-color: rgba(72, 27, 174, .85);
}


/*
* demo page
*/

@media screen and (min-width: 768px){

  html{
    font-size: 62.5%;
  }
}

@media screen and (max-width: 767px){

  html{
    font-size: 50%;
  }
}

body{
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
  font-size: 1.6rem;
  color: #222;
  
  margin: 0;
  -webkit-overflow-scrolling: touch;   
  overflow-y: scroll;
}

:root{
    --colorBlack: #222;
    --colorWhite: #fff;
    --colorGray: #f0f0f0;

    --colorAlternative: #a03549;
    --colorAlternativeDark: #650813;
}

.title{
    margin-top: 0;
    margin-bottom: 0;
}

.page{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.page__demo{
  flex-grow: 1;
}

.footer{
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;  
  font-size: 1.4rem;
}

.footer__link{
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 361px){

  .footer__container{
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 360px){

  .melnik909{
    display: none;
  } 
}

/* layout */

.main-container{
    max-width: 1400px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.section:nth-of-type(even){
	background-color: var(--colorGray);
}

.section__header{
	position: relative;
	padding-bottom: 2rem;
	text-align: center;
	text-transform: uppercase;
}

.section__header:before{
	content: "";
	width: 5rem;
	height: 3px;
	background-color: var(--colorAlternative);

	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.section__title{
	font-size: 2.8rem;
}

.section__hint{
	font-size: 1.4rem;
	display: block;
	margin-top: 1rem;
}

.section__content{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

@media screen and (min-width: 641px){

	.section{
		padding-top: 8rem;
		padding-bottom: 8rem;
	}

	.section__header{
		margin-bottom: 6rem;
	}

	.section__content{
		justify-content: center;
	}
}

@media screen and (max-width: 640px){

	.section{
		padding-top: 4rem;
		padding-bottom: 4rem;
	}

	.section__header{
		margin-bottom: 3rem;
	}
}

/* options */ 

.radio{
    position: absolute;
    left: -9999px;
}

.preview-options{
    padding-top: 2rem;
}

.preview-options__container{
    display: flex;
    justify-content: center;
}

.preview-options__param{
    display: inline-block;
    cursor: pointer;
}

.preview-options__param:not(:last-child){
    margin-right: 1.5rem;
}

.preview-options__color:before{
    content: "";
    width: 3.2rem;
    height: 3.2rem;
    display: block;
    border-radius: 50%;
}

.preview-options__color:after{
    content: "";
    width: 75%;
    height: 3px;
    display: block;
    margin: 1rem auto 0;
}

.preview-options__color_black:before,
#black:checked ~ .preview-options .preview-options__color_black:after{
    background-color: rgba(0, 0, 0, 1);
}

.preview-options__color_purple:before,
#purple:checked ~ .preview-options .preview-options__color_purple:after{
    background-color: rgba(72, 27, 174, 1);
}

.preview-options__color_blue:before,
#blue:checked ~ .preview-options .preview-options__color_blue:after{
    background-color: rgba(80, 126, 209, 1);
}

.preview-options__color_green:before,
#green:checked ~ .preview-options .preview-options__color_green:after{
    background-color: rgba(27, 188, 155, 1);
}

.preview-options__color_red:before,
#red:checked ~ .preview-options .preview-options__color_red:after{
    background-color: rgba(160, 53, 73, 1);
}

#black:checked ~ .section .teamy{
    --demoColorMask: rgba(0, 0, 0, .7);
    --demoColorContent: rgba(0, 0, 0, .85);
    --demoColorIcon: rgba(0, 0, 0, 1);
}

#blue:checked ~ .section .teamy{
    --demoColorMask: rgba(80, 126, 209, .7);
    --demoColorContent: rgba(80, 126, 209, .85);
    --demoColorIcon: rgba(80, 126, 209, 1);
}

#green:checked ~ .section .teamy{
    --demoColorMask: rgba(42, 155, 132, .7);
    --demoColorContent: rgba(42, 155, 132, .85);
    --demoColorIcon: rgba(42, 155, 132, 1);
}

#red:checked ~ .section .teamy{
    --demoColorMask: rgba(160, 53, 73, .7);
    --demoColorContent: rgba(160, 53, 73, .85);
    --demoColorIcon: rgba(160, 53, 73, 1);
}

/* demo params */

.teamy__preview:before{
    background-color: var(--demoColorMask, rgba(72, 27, 174, .7));
}

.teamy_style2 .teamy__content{
    background-color: var(--demoColorContent, rgba(72, 27, 174, .85));
}

/* social buttons */

.social{
    box-sizing: border-box;
    width: 42px;
    height: 42px;
    padding: 10px;

    background-color: #fff;
    border-radius: 100%;

    margin: 5px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.social__icon{
    width: 100%;
    height: 100%;
    fill: rgba(72, 27, 174, 1);
    fill: var(--demoColorIcon, rgba(72, 27, 174, 1));  
}

.social__name{
    position: absolute;
    left: -9999px;
}

@media screen and (max-width: 640px){

    .preview-options{
        padding-bottom: 2rem;
        border-bottom: 1px solid var(--colorGray);
    }
}

@media screen and (min-width: 641px){

    .preview-options{
        background-color: var(--colorGray);
    }
}

/* grid */

.teamy-team{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (min-width: 849px){

     .teamy{
         width: 25%;
     }
}

@media screen and (min-width: 425px) and (max-width: 848px){

     .teamy{
         width: 50%;
     }
}

@media screen and (max-width: 424px){

     .teamy{
         width: 100%;
     }

     .teamy:not(:first-child){
         margin-top: 3rem;
     }
}

/*Now the styles*/
* {
    margin: 0; 
	padding: 0;
}
body {
	background: #ccc; 
	font-family: arial, verdana, tahoma;
}

/*Time to apply widths for accordian to work
Width of image = 640px
total images = 5
so width of hovered image = 640px
width of un-hovered image = 40px - you can set this to anything
so total container width = 640 + 40*4 = 800px;
default width = 800/5 = 160px;
*/

.accordian {
	width: 805px; height: 320px;
	overflow: hidden;
	
	/*Time for some styling*/
	margin: 100px auto;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}

/*A small hack to prevent flickering on some browsers*/
.accordian ul {
	width: 1200px;
	/*This will give ample space to the last item to move
	instead of falling down/flickering during hovers.*/
}

.accordian li {
	position: relative;
	display: block;
	width: 160px;
	float: left;
	
	border-left: 1px solid #888;
	
	box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	
	/*Transitions to give animation effect*/
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	/*If you hover on the images now you should be able to 
	see the basic accordian*/
}

/*Reduce with of un-hovered elements*/
.accordian ul:hover li {width: 40px;}
/*Lets apply hover effects now*/
/*The LI hover style should override the UL hover style*/
.accordian ul li:hover {width: 640px;}


.accordian li img {
	display: block;
}

/*Image title styles*/
.image_title {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0; bottom: 0;	
width: 640px;	

}
.image_title a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 20px;
	font-size: 16px;
}